@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

 *{
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}


header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
}

header #logo {
  color: #fff;
  cursor: pointer;
}

header #logo span {
  font-size: 1.7em;
  line-height:  45px;
  margin-left: 40px;
  font-family: 'Roboto',serif;
}

@media (min-width: 701px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.3em;
    text-align: center;
  }

  #about {
    float: right;
    width: 67%
  }
}

@media (max-width: 700px) {
  #logo {
    margin-top: 15px;
    width: 100%;
    font-size: 1.5em;
  }

  #about {
    float: left;
    width: 100%
  }
}

#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}

#about > a {color: #fff}

#about > a:hover {
  color: #b0b0b0;
  text-decoration: underline;
}

#about > a:not(last-child) {
  margin-right: 7%;

}

.fixed {
  z-index: 5000:auto;
  background-color: #fff;
  border-bottom: 1px solid silver;
}

header.fixed #logo{
  color: #343434;
}

.fixed #about a {color: #343434}

.fixed #about a:hover {color: #7c7c7c}

#top {
  width: auto;
  height: auto;

  background-image: url(https://avatars.mds.yandex.net/get-pdb/27625/f239f4e5-eb33-4e59-9f10-8e6a7a30b1e7/s1200?webp=false);
  background-blend-mode: multiply;
background-color: #2e3a44;
background-size:  cover;
text-align: center;
color: #fff;


}

    <div #top {
      text-align: center;
    }
    @media (min-width:2001px) {
      #top {
        font-size: 3em;
          height: 100%;
          padding-top: 1%;

      }

    }
    @media (min-width:1001px) {
      #top {
        font-size: 2em;
          height: 100%;
      }

    }
@media (max-width: 1000px) and (min-width: 651px) {
  #top {
    font-size: 1.7em;
    height:  100%;
weight: 100%;
      }
}

@media (max-width: 700px) {
  #top {
    font-size: 1.3em;
      height: 100%;
      padding-top: 20%;
      }
}
@media (max-width: 500px) {
#top {
  font-size: 1em;
  padding-top: 60%;
  height: 100%;

   }
 }

#top h1 {
padding-top: 20%;
color:#6E82CB
}

#top h3{
  color: #ccc;
  text-align: center;

}


    <div #main {
      text-align: center;
    }

#main {
width: 100%;
height: 100%;
  background-image:
  url(https://static.tildacdn.com/tild3464-6462-4036-b463-636666663236/Header_slide2.jpg);
background-size: cover;
background-attachment: fixed;
background-blend-mode: multiply;
text-align: center;
background-color: #3F4040;

}

@media (min-width:2001px) {
  #main {
    font-size: 2.5em;
      height: 100%;
  }

}
@media (min-width: 1001px) {
  #main{
font-size: 1.6em;
    width:100%;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  #main{
    text-align: center;
    padding: 0px;
font-size: 1.5em;
  }
}

@media (max-width: 700px) {
  #main div {
    width: 100%;
height: 100%
font-size: 1.2em;
  }
}

#main div{
  widows: 1000px;
  text-align: center;



}

#main h2 {font-size: 3em;color: #6E82CB;padding:2% 0% 1% 0%}
#main span {color: #ccc;font-size: 1.4em;  }
#main span1 {color: #fff;float: left;font-size: 1em; padding:3% 10% 1% 10% }
#main span2 {color: #fff;float: left;font-size: 1em; padding:1% 10% 1% 10% }
#main span3 {color: #fff;float: left;font-size: 1em; padding: 1% 10% 1% 10%}
/*#main ul {float: left;padding-left: 5%}*/


#overview {
  float: left;
  background-image:
  url(https://pp.userapi.com/c840239/v840239248/121c9/Sz_gmVPvp3w.jpg);
background-blend-mode: multiply;
background-color: ##CE5305;
background-size: cover;
background-attachment: fixed;
height: 120%;
padding: 100px 0;
width: 100%;
text-align: center;
color: #fff;
}
#overview h2 {font-size: 4em; color: #6E82CB}
#overview h4 {color: #ccc; font-size:1.8em}

  #overview .img {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;

  }

#overview .img:nth-child(odd) {
margin-left: 18%;

}

#overview img {
  background: #000;
  padding:  10px;
  border: 3px solid silver;
  float:left;
  width:100%;
  max-width: 500px;
  margin-right: 20px;
  margin-bottom: 20px;

  }

  #overview span {
    float:left;
    width: 100%;
    font-size: 1.5em;
    margin-top: 10px;
  }

  @media (max-width: 700px) {
    #overview .img {
      width: 80%!important;
      margin-right: 0!important;
      margin-left: 10%!important;
    }
}

#contacts {
  width: 100%;
height: 100%;
  float:left;
  padding-bottom: 40px;
  padding-top: 70px;
border-top: 4px solid #ccc;
background: #f4f4f4;
}
h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
}
#contacts h5{font-size: 3em;color: #000}

#form_input {
  margin-top: 15px;
  width:35%;
  margin-left: 38%;
  font-size: 1.1em;

}

#form_input label {
  color: #000;
  cursor: pointer;
  font-size: 1.4em;
  font-family: 'Roboto Slab', serif;

}

#format_input label > span {
   color: #000;

}
#form_input input,#form_input textarea {
  margin-bottom: 10px;
  width: 70%;
  padding: 10px 2%;
  border-radius: 7px;
  border: 2px solid silver;
  font-size: 0.9em;
  color: #4a4a4a;
}

#contacts {
  float: left;
  background-image:
  url(https://www.unitedprimepub.com/images/feature/contact.png);
background-blend-mode: multiply;
background-color: ##CE5305;
background-size: cover;
background-attachment: fixed;
}
#form_input input:focus, #form_input textarea {
  border-color: #333;
}

.btn {
  float: left;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 1.2em;
  background-color: #ec6550;
  text-shadow: #454545 0 0 2px;
  cursor: pointer;
  color: white;

}

.btn:hover {
  background-color: #c15443;

}




/*  float: left;
  background-image:
  url(https://www.unitedprimepub.com/images/feature/contact.png);
background-blend-mode: multiply;
background-color: ##CE5305;
background-size: cover;
background-attachment: fixed;
